[[local|localrc]]

DATABASE_PASSWORD={{ password }}
RABBIT_PASSWORD={{ password }}
SERVICE_TOKEN={{ password }}
SERVICE_PASSWORD={{ password }}
ADMIN_PASSWORD={{ password }}

HOST_IP={{ networking.address }}

LOGFILE=/opt/stack/logs/stack.sh.log
LOG_COLOR=False

RECLONE=yes

# NEUTRON

disable_service n-net
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service q-metering
enable_service q-vpn
enable_service q-fwaas
enable_service q-lbaas
IP_VERSION=4

# CINDER

enable_service c-bak
VOLUME_BACKING_FILE_SIZE=102500M
CINDER_VOLUME_CLEAR=none

{% if components.heat == 'true' %}
# HEAT

enable_service h-eng
enable_service h-api
enable_service h-api-cfn
enable_service h-api-cw
{% endif %}

{% if components.trove == 'true' %}
# TROVE

enable_plugin trove git://git.openstack.org/openstack/trove master
{% endif %}

{% if components.ceilometer == 'true' %}
# CEILOMETER

enable_plugin ceilometer https://github.com/openstack/ceilometer master
CEILOMETER_PIPELINE_INTERVAL=30
{% endif %}

{% if components.ceph == 'true' %}
enable_service ceph
CINDER_DRIVER=ceph
CINDER_ENABLED_BACKENDS=ceph
{% endif %}

{% if components.swift == 'true' %}
# SWIFT

enable_service s-proxy
enable_service s-object
enable_service s-container
enable_service s-account
SWIFT_HASH={{ password }}
SWIFT_REPLICAS=1
SWIFT_TEMPURL_KEY={{ password }}
SWIFT_ENABLE_TEMPURLS=True
{% endif %}

{% if components.tempest == 'true' %}
# TEMPEST

enable_service tempest
{% endif %}

{% if components.mistral == 'true' %}
# MISTRAL

enable_plugin mistral https://github.com/openstack/mistral master
{% endif %}

{% if components.aodh == 'true' %}
# AODH

enable_plugin aodh https://github.com/openstack/mistral master
{% endif %}

{% if components.rally == 'true' %}
# RALLY

enable_plugin rally https://github.com/openstack/rally master
{% endif %}

{% if components.cloudkitty == 'true' %}
# CLOUDKITTY

enable_plugin cloudkitty https://github.com/openstack/cloudkitty master
{% endif %}

{% if components.gnocchi == 'true' %}
# GNOCCHI

# enable_plugin gnocchi https://git.openstack.org/openstack/gnocchi master
{% endif %}
