---
box: chef/centos-7.0
bridge: tap0
development: false
address:
  controller: 10.100.50.10
  nfs: 10.100.50.41
  network: 10.100.50.30
  shared: 10.100.50.50
  storage: 10.100.50.40
  compute: 
  - 10.100.50.20
  - 10.100.50.21
ntp:
- 0.pool.ntp.org
- 1.pool.ntp.org
- 2.pool.ntp.org
- 3.pool.ntp.org
netmask: 255.255.0.0
resources:
  memory: 4096
  vcpus: 2
  storage: 65536
