127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for name in ['controller', 'network', 'storage', 'filer', 'shared'] %}
{{ address[name] }} {{ name }}
{% endfor %}
{% for ip in address['compute'] %}
{{ ip }} node{{ loop.index }} 
{% endfor %}
