---
box: ubuntu/trusty64
password: password
networking:
  bridge: tap0
  netmask: 255.255.0.0
  address: 10.100.60.10
resources:
  memory: 4096
  vcpus: 2
  storage: 65536
components:
  ceilometer: false
  ceph: false
  ironic: false
  opendaylight: false
  sahara: false
  swift: false
  tempest: false
  trove: false
  zaqar: false
